// Specific CSS for your home-page

#video-home {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: top;
}

.video-container {
  position: absolute;
  top: 0;
  text-align: center;
  padding: 200px;
  width: 100vw;
  height: 100vh;
  color: white;
  margin-top: 90px;
}

.logo-container {
  position: absolute;
  top: 0;
  padding: 30px;
}
