<div class="card-category">
  <div class="card-trip">
    <img src="https://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=409741&type=card" /> <!-- <%#= card.image_url %> -->
    <div class="card-trip-infos">
      <div>
        <h2>Archangel Avacyn</h2> <!-- <%#= card.name %> -->
        <p>Legendary Creature — Angel</p> <!-- <%#= card.type %> -->
        <br>
        <p>Mana: 5</p> <!-- <%#= card.cmc %> -->
        <p>Power: 4</p> <!-- <%#= card.power %> -->
        <p>Toughness: 4</p> <!-- <%#= card.toughness %> -->
      </div>
      <h2 class="card-trip-pricing">€99.99</h2> <!-- <%#= card.price_per_week %> -->
      <span class="dot" style="background-color: red"></span> <!-- <%#= card.color %> -->
    </div>
  </div>
</div>
