<div id='card-booking-dates'>
  <%= simple_form_for(:dates, method: :get, url: cards_path, wrapper: :inline_form, html: { class: 'form-inline' }) do |f| %>
  	<%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :range,
                  as: :string,
                  type: :DateTimeType,
                  input_html: { value: @last_input, style: "width: 265px; margin-right: 20px;"},
                  required: true,
                  placeholder: "Select booking dates"
                  %>
    </div>
    <div class="form-actions">
      <%= f.button :submit,
      						 "Filter",
      						 style: "margin: 0;",
      						 class: "btn btn-flat"
      						 %>
    </div>
  <% end %>
</div>
