<div class="container">
	<h1 class="my-5 text-center">Magic Cards Rental</h1>
	<h3 class="my-3">All cards available for rent</h3>
	
	<div class="cards pb-5">
		<%= render 'shared/card' %>
		<%= render 'shared/card' %>
		<%= render 'shared/card' %>
		<%= render 'shared/card' %>
	</div>
</div>


