<div class="container" style="margin-bottom: 100px;">
	<h3 class="my-5">Available cards</h3>

	<div class="my-5">
		<%= render 'shared/filter', card: @card %>
		
	</div>

	<div class="cards pb-5">
	  <% @cards.each do |card| %>
	    <%= render 'shared/card', card: card %>
	  <% end %>
	</div>

</div>


<% if (params["dates"].nil? || params["dates"]["range"] == "") %>
<% else %>
	<div class="selectorbar cssanimation sequence fadeInBottom">
		<div class="container h-100 d-flex justify-content-between align-items-center">
			<div>
				<!-- <h5>Text goes here</h5> -->
			  <h5 id="typewriter" data-typewriter="Select cards ...,... you monster hunter,:),Select cards ...,... you monster hunter,:),Select cards ...,... you monster hunter,:),Select cards ...,... you monster hunter,:),Select cards ...,... you monster hunter,:),Select cards ...,... you monster hunter,:),Select cards ...,... you monster hunter,:),Select cards ...,... you monster hunter,:),Select cards ...,... you monster hunter,:),Select cards ...,... you monster hunter,:),Select cards ...,... you monster hunter,:),Select cards ...,... you monster hunter,:),Select cards ...,... you monster hunter,:),Select cards ...,... you monster hunter,:),Select cards ...,... you monster hunter,:),Select cards ...,... you monster hunter,:),Select cards ...,... you monster hunter,:),Select cards ...,... you monster hunter,:),Select cards ...,... you monster hunter,:),Select cards ...,... you monster hunter,:)"></h5><span class="blinking-cursor">|</span>
			</div>
			<div class="d-flex align-items-center">
				<h5 id="text-count" class="mb-0 pr-3">0 cards selected</h5>
				<a href="" class="btn btn-light">Add to cart</a>
			</div>
		</div>
	</div>
<% end  %>

