<div class="container" style="margin-bottom: 100px;">
	<div class="my-5">
		<%= render 'shared/filter', card: @card %>

	</div>

	<div class="cards pb-5">
	  <% @cards.each do |card| %>
	    <%= render 'shared/card', card: card %>
	  <% end %>
	</div>

</div>

<%= render 'shared/selectorbar' %>
<%= render 'shared/confirmation' %>


