.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #00bf6a;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
  text-decoration: none;
}

.btn-flat-grey {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #777777;
  transition: background 0.3s ease;
}

.btn-flat-grey:hover {
  background: #888888;
  color: white;
  text-decoration: none;
}

.btn-flat-light {
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  background: #EEEEEE;
  transition: background 0.3s ease;
}

.btn-flat-light:hover {
  background: #FFFFFF;
  color: black;
  text-decoration: none;
}
