.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #00bf6a;
  transition: background 0.3s ease;
  margin-bottom: 5px;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}
