// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "button";
@import "card";
@import "cards";
@import "banner";
@import "scroll";
@import "footer";
@import "tab";
@import "selectorbar";
@import "card-product";
@import "booking_card"