// .card-trip {
//   position: relative;
//   width: 50%;
// }

// .cards-icon {
//   opacity: 1;
//   display: block;
//   width: 100%;
//   height: auto;
//   transition: .5s ease;
// }

// .cards-hover {
//   transition: .5s ease;
//   opacity: 0;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   -ms-transform: translate(-50%, -50%);
//   text-align: center;
// }

// .card-trip:hover .cards-icon {
//   opacity: 0.3;
// }

// .card-trip:hover .cards-hover {
//   opacity: 1;
// }

// .edit-button, .button-not-delete {
//   background-color: #4CAF50;
//   color: white;
//   font-size: 16px;
//   padding: 16px 32px;
// }

.cards-icon {
  display: flex;
  align-items: center;
  justify-content: center
}
